{
  "msg_type": "interactive",
  "card": {
    "header": {
      "title": {
        "tag": "plain_text",
        "content": "{% if status == 'firing' %}💥 {% else %}😊 {% endif %}{{ alerts | length }} Alert{% if alerts|length > 1 %}s{% endif %}: {% if groupLabels.alertname %}{{ groupLabels.alertname }}{% else %} Unknown {% endif %} {{ status }}"
      },
      {% if commonAnnotations.summary %}
      "subtitle": {
        "tag": "plain_text",
        "content": "💡 {{ commonAnnotations.summary | escape }}"
      },
      {% endif %}
      {% if commonLabels.cluster %}
      "text_tag_list": [
        {
          "tag": "text_tag",
          "text": {
            "tag": "plain_text",
            "content": "{{ commonLabels.cluster }}"
          },
          "color": "wathet"
        }
      ],
      {% endif %}
      "template": "{% if status == 'firing' %}red{% else %}green{% endif %}"
    },
    "elements": [
      {% for alert in alerts %}
      {
        "tag": "div",
        "text": {
          "tag": "lark_md",
          "content": "{% for k,v in alert.annotations %}{% if k not in commonAnnotations or k == "description" %}**{{ k }}**: {{ v | escape }}\n{% endif %}{% endfor %}{% if at_openid %}<at id={{ at_openid }}></at>{% endif %}"
        }
      },
      {
        "tag": "hr"
      },
      {% endfor %}
      {
        "tag": "column_set",
        "columns": [
          {% if commonAnnotations.runbook_url %}
          {
            "tag": "column",
            "width": "weighted",
            "elements": [
              {
                "tag": "markdown",
                "content": "[runbook url]({{ commonAnnotations.runbook_url }})",
                "text_align": "left",
                "text_size": "notation",
                "icon": {
                  "tag": "standard_icon",
                  "token": "info-hollow_filled",
                  "color": "grey"
                }
              }
            ]
          },
          {% endif %}
          {% if alerts[0].generatorURL %}
          {
            "tag": "column",
            "width": "weighted",
            "elements": [
              {
                "tag": "markdown",
                "content": "[view more]({{ alerts[0].generatorURL }})",
                "text_align": "left",
                "text_size": "notation",
                "icon": {
                  "tag": "standard_icon",
                  "token": "history-search_filled",
                  "color": "grey"
                }
              }
            ]
          },
          {% endif %}
          {
            "tag": "column",
            "width": "weighted",
            "elements": [
              {
                "tag": "markdown",
                "content": "{{ now() | date(format='%Y-%m-%d %H:%M', timezone='Asia/Shanghai') }}",
                "text_align": "left",
                "text_size": "notation",
                "icon": {
                  "tag": "standard_icon",
                  "token": "time_filled",
                  "color": "grey"
                }
              }
            ]
          }
        ]
      }
    ]
  }
}
